/* Created by Eric Zorn on July 3rd, 2017 */


body {
    background-color: #a80036 !important;
    color: whitesmoke;
    font-family: sans-serif;
}

.submitButton {
    background-color: transparent;
    color: white;
    border: solid 2px white;
    margin-left: 4%;
    font-size: 20px;
    border-radius: 5%;
}

.submitButton:hover {
    background-color: white;
    color: #a80036;
    border: 2px solid white;
    font-size: 20px;
}